.root {
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-border-radius: 0;
}

.text-field {
    -fx-border-radius: 0;
    -fx-padding: 5;
    -fx-text-box-border: transparent;
    -fx-background-insets: 0, 5, 0, 0;
    -fx-border-insets: 0, 5, 0, 0;
}

#currentNumberText {
    -fx-border-color: white;
    -fx-border-radius: 0;
    -fx-border-width: 0px;
    -fx-border-style: solid;
}

#prevOperationsText, #prevOperationsText:focused, #prevOperationsText:selected {
    -fx-border-color: white;
    -fx-border-radius: 0;
    -fx-border-width: 0px;
    -fx-padding: 5;
    -fx-text-box-border: transparent;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-background-color: white;
}

.text-field .content {
    -fx-border-radius: 0;
    -fx-padding: 5;
    -fx-text-box-border: transparent;
    -fx-background-color: white;
    -fx-background-insets: 0, 5, 0, 0;
    -fx-border-insets: 0, 5, 0, 0;
}

.numbers, #result {
    -fx-border-color: #f2f2f2;
    -fx-border-radius: 0;
    -fx-background-color: #f2f2f2;
    -fx-alignment: center;
    -fx-content-display: center;
    -fx-fit-to-width: true;
    -fx-border-insets: 0;
    -fx-border-image-insets: 0;
    -fx-background-insets: 0;
}

.numbers:hover {
    -fx-border-color: #dadada;
    -fx-background-color: #dadada;
}

.numbers:pressed, .numbers:armed {
    -fx-border-color: #bbbbbb;
    -fx-background-color: #bbbbbb;
}

.numbers:disabled {
    -fx-border-color: #e0e0e0;
    -fx-border-radius: 0;
    -fx-background-color: #e0e0e0;
}

#memoryButtonsPane {
    -fx-border-color: #e6e6e6;
    -fx-border-bottom: 2px;
    -fx-border-width: 0;
    -fx-background-color: white;
    -fx-fit-to-width: true;
    -fx-padding: 0;
    -fx-border-insets: 0;
}

#numbersAndOperations, #numbersAndOperations .text {
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-border-radius: 0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-text-alignment: center;
    -fx-alignment: top-center;
    -fx-content-display: center;
}

.memory_buttons, .unary_operations, #history {
    -fx-border-color: #ffffff;
    -fx-background-color: #ffffff;
    -fx-border-radius: 0;
    -fx-border-insets: 0;
    -fx-padding: 0;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-fit-to-width: true;
    -fx-border-image-insets: 0;
    -fx-background-insets: 0;
}

#mode {
    -fx-border-color: #ffffff;
    -fx-background-color: #ffffff;
    -fx-border-radius: 0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-border-image-insets: 0;
    -fx-padding: 0;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-content-display: center;
    -fx-background-position: center;
    -fx-fit-to-height: true;
}

#modeLabel {
    -fx-start-margin: 2px;
    -fx-end-margin: 2px;
    -fx-alignment: top-center;
}

#history {
    -fx-border-color: #ffffff;
    -fx-background-color: #ffffff;
    -fx-border-radius: 0;
    -fx-border-insets: 0;
    -fx-padding: 0;
    -fx-background-image: url("/com/implemica/CalculatorProject/view/history.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.memory_buttons:disabled, .unary_operations:disabled, #history:disabled {
    -fx-border-color: #ffffff;
    -fx-background-color: #ffffff;
}

.memory_buttons:hover, .unary_operations:hover, #mode:hover, #history:hover {
    -fx-background-color: #e6e6e6;
    -fx-border-color: #e6e6e6;
}

.memory_buttons:pressed, .unary_operations:pressed, .unary_operations:armed, #mode:pressed, #history:pressed,
.memory_buttons:armed {
    -fx-background-color: #cccccc;
    -fx-border-color: #cccccc;
}

#memoryStorage {
    -fx-background-color: #e0e0e0;
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-content-display: right;
}

#storageClean {
    -fx-background-color: #e0e0e0;
    -fx-border-color: #e0e0e0;
    -fx-alignment: bottom-right;
    -fx-content-display: bottom;
}

#storageClean:hover {
    -fx-background-color: #cacaca;
    -fx-border-color: #cacaca;
}

#storageClean:pressed {
    -fx-background-color: #b3b3b3;
    -fx-border-color: #b3b3b3;
}

#result:hover {
    -fx-border-color: #0078d7;
    -fx-background-color: #0078d7;
}

#result:hover .label, #result:pressed .label, #result:armed .label {
    -fx-text-fill: white;
}

#result:pressed, #result:armed {
    -fx-border-color: #489cdf;
    -fx-background-color: #489cdf;
}

.tooltip {
    -fx-background-color: #e0e0e0;
    -fx-border-color: #cccccc;
    -fx-border-radius: 0;
    -fx-border-width: 1;
    -fx-text-fill: black;
    -fx-effect: none;
}

.list-view {
    -fx-background-color: #e0e0e0;
}

.list-view .scroll-bar {
    -fx-background-color: #f2f2f2;
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-pref-width: 13px;
}

.list-view .scroll-bar .thumb{
    -fx-background-color: #c2c2c2;
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
}

.list-view .scroll-bar .thumb:hover{
    -fx-background-color: #919191;
}

.list-view .scroll-bar .thumb:pressed{
    -fx-background-color: #616161;
}

#viewTypesPanel, .list-cell {
    -fx-font-size: 16;
    -fx-background-color: #e0e0e0;
    -fx-padding: 11px;
}

.list-cell:hover {
    -fx-background-color: #cacaca;
}

.list-cell:selected, .list-cell:selected .label {
    -fx-background-color: #86b6dc;
    -fx-text-fill: black;
}

#modeClose {
    -fx-border-color: #e0e0e0;
    -fx-background-color: #e0e0e0;
    -fx-border-radius: 1;
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-alignment: center;
    -fx-fit-to-width: true;
    -fx-border-insets: 0;
    -fx-border-image-insets: 0;
    -fx-background-insets: 0;
}

#infoButton {
    -fx-border-color: #cacaca;
    -fx-background-color: #e0e0e0;
    -fx-border-radius: 0;
    -fx-border-width: 1;
    -fx-alignment: center-left;
}

#modeClose:hover, #infoButton:hover {
    -fx-border-color: #cacaca;
    -fx-background-color: #cacaca;
}

#modeClose:pressed, #infoButton:pressed {
    -fx-border-color: #b3b3b3;
    -fx-background-color: #b3b3b3;
}

#viewTypesPanel {
    -fx-padding: 0;
    -fx-border-radius: 0;
    -fx-border-width: 1;
    -fx-border-color: #e0e0e0;
}

#applicationBar {
    -fx-background-color: #ffffff;
}

#hide, #expand, #close {
    -fx-border-color: #ffffff;
    -fx-background-color: #ffffff;
    -fx-border-radius: 0;
    -fx-border-width: 1;
    -fx-padding: 0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
}

#close:hover {
    -fx-background-color: #e71123;
    -fx-border-color: #e71123;
    -fx-text-fill: white;
}

#close:pressed {
    -fx-background-color: #f1707a;
    -fx-border-color: #f1707a;
    -fx-text-fill: black;
}

#hide:hover, #expand:hover {
    -fx-background-color: #e6e6e6;
    -fx-border-color: #e6e6e6;
}

#hide:pressed, #expand:pressed {
    -fx-background-color: #cccccc;
    -fx-border-color: #cccccc;
}